.input{
    background-color: #F8F8F8;
    padding: 1.3rem 1.5rem;
    border: none;
    border-radius: .5rem;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.4rem;
    width: 100%;
    max-width: 35rem;
}