.input{
    padding: 1.3rem 1.5rem;
    border: none;
    border-radius: .5rem;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.4rem;
    background-color: #F8F8F8;

}

.content{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3rem;
    gap: 1rem;
    align-items: center;
    background-color: #F8F8F8;
}