.input {
    border: none;
    border-radius: .5rem;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.4rem;
    background-color: #F8F8F8;
    padding: 1.2rem 1.5rem;

}

.input:focus-visible {
    outline: transparent;
    outline-style: none;
}

.content {
    width: 100%;
    display: grid;
    grid-template-columns: 30rem 3rem;
    gap: 1rem;
    align-items: center;
    background-color: #F8F8F8;
}

.border {
    border: solid #212121 2px;
    border-radius: .5rem;
}

.content.border{
    transition: all .7s inherit;
}