.container {
    display: flex;
    flex-direction: column;
    gap: 7rem;
    align-items: center;
    padding: 10rem 0;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    align-content: center;
    justify-content: center;
    justify-self: center;

    max-width: 35rem;
}

.title {
    font-weight: 500;
    font-size: 3.2rem;
    line-height: 4.75rem;
    text-align: center;
}

.fields {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.register {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.4rem;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    color: #212121;
}

.forgot {
    text-decoration: none;
    color: #212121;
    cursor: pointer;

    font-weight: 500;
    font-size: 1.6rem;
    text-align: center;
}

.errorBorder {
    border: #EC0000 solid 1px;
    border-radius: 1.2rem;
    padding: 1.5rem 1.6rem;
}

.errorTitle {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #EC0000;
    text-align: center;
}

.transparent {
    color: transparent;
    border: transparent solid 1.2rem;
}

@media (max-width: 425px) {
    .container {
        padding: 0;
    }
}