.content{
    display: flex;
    flex-direction: column;
    gap: 5rem;
    align-content: center;
    justify-content: center;
    justify-self: center;

    max-width: 35rem;
}

.title{
    font-weight: 500;
    font-size: 3.2rem;
    line-height: 4.75rem;
    text-align: center;
}

.fields{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.create{
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.4rem;
    text-align: center;
    cursor: pointer;
}