.button{
    background-color: #292929;
    color: #F8F8F8;
    font-size: 1.6rem;
    line-height: 2.4rem;
    text-align: center;
    padding: 1.3rem 1.6rem;
    border-radius: 1.2rem;
    width: 100%;
    cursor: poiner; 
}
