.content{
    display: grid;
    grid-template-rows: 3rem 1fr;
    gap: 15rem;
    padding: 4rem 0;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    max-width: 35rem;
    margin: 0 auto;
}

.title{
    font-weight: 500;
    font-size: 3.2rem;
    line-height: 4.7rem;
    text-align: center;
}

.validationList{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 90%;
    margin: 0 auto;
}

.validationItem{
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 2rem;
    color: #767676;
}