.content {
    display: grid;
    grid-template-rows: 3rem 1fr;
    gap: 3rem;
    padding: 3rem 0;
    width: 100%;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin: 0 auto;
}

.title {
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.4rem;
    text-align: center;
}

.validationList {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 90%;
    margin: 0 auto;
}

.validationItem {
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 2rem;
    color: #767676;
}
